/_*

/site/
/dependencies
/game/
/doc/
/lab/
/tools/

/tests/android/libs
/tests/android/gen
/tests/android/bin
/tests/android/assets
/tests/android/obj
/tests/android/ext/hx3d/
/tests/android/jni/include

/tests/ios/assets
/tests/ios/build

.DS_Store

*.xcodeproj/project.xcworkspace/*
*.xcodeproj/xcuserdata/*

__pycache__/

.kdev4/
*.kdev4
.idea/
