_build_android/
_build_linux/
_build_windows/
_build_macos/
_build_ios/

game/android/libs
game/android/gen
game/android/bin
game/android/assets
game/android/obj

game/android/ext/hx3d/
game/android/jni/include

.DS_Store
/CMakeLists.txt

__pycache__/
