_build_android/
_build_linux/
_build_windows/
_build_macos/
_build_ios/

dependencies/
game/

tests/android/libs
tests/android/gen
tests/android/bin
tests/android/assets
tests/android/obj
tests/android/ext/hx3d/
tests/android/jni/include

.DS_Store
/CMakeLists.txt

__pycache__/
